<div class="container">
  <h1>Blocipedia: Social, Markdown Wikis</h1>


  <div class="row">
    <div class="col-md-8 col-md-push-2">
      <div class="jumbotron text-center">
        <h2>Create and share Markdown Wikis</h2>
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-push-2 text-center">
      <p>Create as many public wikis as you want!</p>
      <a href="#" class="thumbnail">
        <%= image_tag "public.png", alt:"public icon"%>
        <h3>Free Plan</h3>
      </a>
    </div>

    <div class="col-md-4 col-md-push-2 text-center">
      <p>Create private wikis!</p>
      <a href="#" class="thumbnail">
        <%= image_tag "private.jpeg", alt:"public icon"%>
        <h3>Premium Plan</h3>
      </a>
    </div>

  </div>
</div>

